{erl_opts, [debug_info, warnings_as_errors]}.

{deps, []}.

{eunit_opts, [verbose]}.

{relx, [
    {release, {erepo, "0.2.0"}, [erepo, sasl]},
    {dev_mode, false},
    {include_erts, true},
    {extended_start_script, true}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]}
    ]},
    {pg, [
        {deps, [
            {epgsql, "4.8.0"}
        ]}
    ]},
    {graphql, [
        {deps, [
            {graphql, {git, "https://github.com/esl/graphql-erlang.git", {branch, "master"}}}
        ]}
    ]},
    {http, [
        {deps, [
            {cowboy, "2.12.0"}
        ]}
    ]},
    {graphql_http, [
        {deps, [
            {graphql, {git, "https://github.com/esl/graphql-erlang.git", {branch, "master"}}},
            {cowboy, "2.12.0"}
        ]}
    ]},
    {runtime, [
        {deps, [
            {epgsql, "4.8.0"},
            {graphql, {git, "https://github.com/esl/graphql-erlang.git", {branch, "master"}}},
            {cowboy, "2.12.0"}
        ]},
        {relx, [
            {release, {erepo, "0.2.0"}, [erepo, epgsql, ranch, cowlib, cowboy, graphql, sasl]},
            {dev_mode, false},
            {include_erts, true},
            {extended_start_script, true}
        ]}
    ]}
]}.
